{% extends "template.html"  %}

{% block title  %}
    Contact Us :: Better Grip
{% endblock  %}

{% block content  %}
    <div align="left">
        <form>
            Full Name: <input type="text" name="Fullname"><br>
            Email: <input type="text" name="Email"><br>
            Your Comment:<br>
                <div>
                    <textarea name="YourComment" rows="7" cols="160">
                    </textarea>
                </div><br>
            <button type="submit" formaction="http://....//">Submit</button>
        </form>
    </div>
{% endblock  %}
