{% extends "template.html"  %}

{% block title  %}
    Contact Us :: Better Grip
{% endblock  %}

{% block content  %}
    <div allign="left">
        <form>
            Full Name: <input type="text" name="Fullname"><br>
            Email: <input type="text" name="Email"><br>
            Your Comment:<br>
            <textarea rows="15" cols="120" name="YourComment">
            </textarea><br>
            <button type="submit" formaction="http://....//">Submit</button>
        </form>
    </div>
{% endblock  %}
