{% extends "template.html" %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{% endblock %}

{% block title %}
   Home :: GetAGrip
{% endblock %}

{% block content %}
<br>
    <div id="homeCarousel" class="carousel slide">

    <!-- Carousel items -->
    
    <div class="carousel-inner">
        <div align="center" class="active item">
            <img src="/static/Pictures/mimi1.jpg" alt=""/>
            <div class="carousel-caption">
                <p>Mimi is cute</p>
            </div>
        </div>

        <div class="item" align="center">
            <img src="/static/Pictures/mimi2.jpg" alt=""/>
            <div class="carousel-caption">
                <p>Mimi is pretty</p>
            </div>
        </div>

        <div class="item" align="center">
            <img src="/static/Pictures/mimi3.jpg" alt=""/>
            <div class="carousel-caption">
                <p>Mimi is da bomb</p>
            </div>
        </div>
    </div>
    
    <!-- Carousel nav -->
        <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <script src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script>
        $(document).ready(function(){
            $('.carousel').carousel();
           });
    </script>
<div class="container marketing">

	<!-- Four columns of text below the carousel -->
	
	<div class="row">
	
		<div class="span3">
			<img class="img-circle" src="static/Pictures/mimi2.jpg" style="width: 140px; height: 140px;">
			<h2> No Slip Grip</h2>
			<p>
				"High performance silicone compounds mold the product to your steering wheel, giving you a no slip grip for every driving experience."
			</p>
			<p>
				<a class="btn" href="#">View details &raquo;</a></p>
			</p>
		</div>
		
		<div class="span3">
			<img class="img-circle" src="static/Pictures/mimi2.jpg" style="width: 140px; height: 140px;" >
			<h2> Weather Resistant</h2> 
			<p> "Get-A-Grip is durable and long lasting through extreme temperature changes, as well as varying weather conditions without losing its color, elasticity, shape, and flexibility."</p>
			<p><a class="btn" href-'#"> View Details &raquo;</a></p>
		</div>
		
		<div class="span3">
			<img class="img-circle" src="static/Pictures/mimi2.jpg" style="width: 140px; height: 140px;" >
			<h2>Compact, Flexible, Versatile</h2>
			<p>"Innovative in its material and design, Get-A-Grip is less bulky than other materials and takes up less space. Store it in any compartment, or take it on the go! Its elasticity allows it to be used virtually anywhere and everywhere."</p>
			<p><a class="btn" href="#">View Details &raquo;</a></p>
		</div>
		
		<div class="span3">
			<img class="img-circle" src="static/Pictures/mimi2.jpg" style="width: 140px; height: 140px;">
			<h2>Easy to use, Easy to clean</h2>
			<p>"Unlike other products, Get-A-Grip can be applied in just three seconds! Simply place the product on the top of the wheel, pull down on the sides, and snap the bottom on to complete. When you're done, unsnap it buy pulling on the bottom, and then throw it in the dish washer to wash! It is 100% dishwasher safe and anti-bacterial."</p>
			<p><a class="btn" href="#">View Details &raquo;</a></p>
		</div>
		
	</div>
</div>
{% endblock %}


