{% extends "template.html"  %}

{% block title  %}
    Contact Us :: Better Grip
{% endblock  %}

{% block content  %}
<br>
<br>
<div class="container-fluid" style="margin: 1px 40px;">
  <div class="row-fluid">
    <div class="span2" style="background-color:	#C80000 ;height:250px;width:200px;float:left; margin:0px 20px;">
      <b><h2 style="color:white;" align="center">Better-Grip LLC</b></h2>
		<br>
		<img src="http://i.imgur.com/PhkbBJ6.png" style=" width: 100px; height: 100px;" align="center">
		<br>
    </div>
        <form>
            <input align= "center" style="width: 510px; height:20px margin: 20px;"type="text" name="Fullname" placeholder="Name"><br>
        	<input align ="center" style="width: 510px; height:20px" type="text" name="Email" placeholder="Email"><br>
            <textarea align="left" style="width: 510px; height:120px" name="YourComment" ></textarea>
                <br>
            <button align="right" type="submit" formaction="http://....//">Submit</button>
        </form>
  </div>
</div>


    
</div>
{% endblock  %}
