{% extends "template.html"  %}

{% block title  %}
    Contact Us :: Better Grip
{% endblock  %}

{% block content  %}
    <div>
        <form>
            Full Name: <input type="text" name="Fullname"><br>
            Email: <input type="text" name="Email"><br>
            Your Comment:<br>
                <textarea name="YourComment" col="60" rows="7">
                </textarea>
            <button type="submit" formaction="http://....//">Submit</button>
        </form>
    </div>
{% endblock  %}
