{% extends "template.html" %}

{% block title  %}
    Store :: Better Grip
{% endblock  %}



{% block content %}

{% for p in products %}
        <div class="row" align="center" style= "margin:10px;">
        <div class="span3 offset1">
        <img src="{{p.image}}">
        <br/><b>{{p.name}}</b>

<form action="/charge" method="post">
    <article>
      <label>
        <span>Amount is ${{p.price}}.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="A Flask Charge"
            data-amount="{{ p.price*100 }}"></script>
  </form><button class="btn-block" type="button">Add to Cart</button>
</div>
{% endfor %}
</div>
{% endblock  %}


{% block buttons %}
    <a href="#logIn" role="button" class="btn btn-success" data-toggle="modal">Log In</a>
    <a href="#signUp" role="button" class="btn btn-primary" data-toggle="modal">Sign Up</a>
{% endblock %}
